.form-container {
    color: #2b2b2b;
    background-color: #edd48d;
    border: 1px solid #edd48d;
    padding: 20px 30px; /* Fügt gleichen Abstand oben/unten (20px) und links/rechts (30px) hinzu */
    margin: 20px auto; /* Zentriert das Formular horizontal */
    width: 66.67%; /* Setzt die Breite auf 2/3 des Viewports */
    display: flex; /* Ändert das Layout auf Flexbox */
    flex-direction: column; /* Ordnet die Elemente vertikal an */
    gap: 15px; /* Fügt Abstand zwischen den Elementen hinzu */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container div {
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
    width: calc(100% - 60px); /* Reduziert die Breite um das Padding des Formulars (30px links + 30px rechts) */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.form-container button {
    align-self: flex-start; /* Positioniert den Button links */
    background-color: #2b2b2b;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-container button:hover {
    background-color: #e0a500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}